<%- include('partials/header'); -%>
<div class="container-fluid">
    <h1>Hello World!</h1>
    <p><%= intro%></p>
    
    <% posts.forEach(function(post){ %>
    <%    console.log(post.title) }); %>
 

    
    


</div>
<%- include('partials/footer'); -%>


